#topRated{
    background-color:#3d4b56;
    min-height: 700px;
    margin-left: -8px;
    width: 102%;
    padding-top:126px;
}

#pageHeader{
    margin-top: 0px;
    margin-left: 100px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    float: left;
}

#search{
    float:right;
    margin-right: 100px;
}