/* You can add global styles to this file, and also import other style files */
.signup{
    border: none;
    color: rgb(0, 119, 255);
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-radius: 32px;
    width: 120px;
    background-color: white;

}

.login{
    background: none;
    border: none;
    color: antiquewhite;
    padding: 30px;
    padding-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}